.about-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.about-description {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
}

.about-content, .about-extra {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about-section {
  width: 30%;
  padding: 10px;
}

.about-images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.about-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

/* Mobile Query */
@media (max-width: 768px) {
  .about-content,
  .about-extra {
      flex-direction: column;
      align-items: center;
  }

  .about-section {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
  }

  .about-image {
    width: 100%;
    height: auto; /* Ensure the height adjusts proportionally */
    display: block; /* Ensures there's no extra space below the image */
    max-width: 100%; /* Prevents images from exceeding their parent container */
    border-radius: 10px; /* Maintain rounded corners */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}


  .about-title {
      font-size: 1.8rem;
  }

  .about-description {
      font-size: 1rem;
  }
}
